
.title{
    /*font-family: "Times New Roman", Times, serif;*/
    color: #ffffff;
}
label{
    color: #ffffff;
}
.admin{
    color: black;
}
table,th,td{
    border: 1px solid black; 
}
body{
    /*background-image: url("Images/movie-home-theater-1280x800.jpg" );*/
}
body{
    height: 100%;
    margin: 0;
    color: white;
    background-image: url("../Images/movie-home-theater-1280x800.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.bg{
    /*background-image: url("Images/movie-home-theater-1280x800.jpg");*/
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

table{
    font-family: "Times New Roman", Times, serif;
    color: white;
    border: 2px solid wheat;
    border-radius: 120px;
    background-color: cornsilk;
/*    opacity: 0.6;
    filter: alpha(opacity=60);*/
}

.button{
    font-family: "Times New Roman", Times, serif;
    color: black;
    border: 2px solid wheat;
    border-radius: 120px;
    background-color: cornsilk;
}
tr:nth-child(even){
    background-color: black;
    opacity: 0.7;
    filter: alpha(opacity=70);}
tr:nth-child(odd){
    background-color: black;
                   opacity: 0.7;
                   filter: alpha(opacity=70);
}
tr:hover{
    background-color: green;
/*    opacity: 0.8;
    filter: alpha(opacity=80);*/
}
/*.bg{
    background-image: url("../Images/movie-home-theater-1280x800.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
tr:hover {background-color: #f5f5f5;}
tr:nth-child(even) {background-color: #f2f2f2;}*/